DATASHARD_STORAGE_TYPE=s3
DATASHARD_S3_ENDPOINT=https://s3.<your-domain>
DATASHARD_S3_ACCESS_KEY=rodmena-limited
DATASHARD_S3_SECRET_KEY=distributed-password-change-me
DATASHARD_S3_BUCKET=datashard
DATASHARD_S3_REGION=us-east-1
TEST_TABLE_PATH=highway-test-logs
